# Line DF

In [13]:
line_df = pd.read_csv(r'C:\Users\ssiva\OneDrive\Documents\Machine Learning_\Machine Learning\novel-corona-virus-2019-dataset\COVID19_line_list_data.csv')

In [14]:
line_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085 entries, 0 to 1084
Data columns (total 27 columns):
id                       1085 non-null int64
case_in_country          888 non-null float64
reporting date           1084 non-null object
Unnamed: 3               0 non-null float64
summary                  1080 non-null object
location                 1085 non-null object
country                  1085 non-null object
gender                   902 non-null object
age                      843 non-null float64
symptom_onset            563 non-null object
If_onset_approximated    560 non-null float64
hosp_visit_date          507 non-null object
exposure_start           128 non-null object
exposure_end             341 non-null object
visiting Wuhan           1085 non-null int64
from Wuhan               1081 non-null float64
death                    1085 non-null object
recovered                1085 non-null object
symptom                  270 non-null object
source                   1085 non-null object
link                     1085 non-null object
Unnamed: 21              0 non-null float64
Unnamed: 22              0 non-null float64
Unnamed: 23              0 non-null float64
Unnamed: 24              0 non-null float64
Unnamed: 25              0 non-null float64
Unnamed: 26              0 non-null float64
dtypes: float64(11), int64(2), object(14)
memory usage: 228.9+ KB

In [15]:
line_df.describe()

,id,case_in_country,Unnamed: 3,age,If_onset_approximated,visiting Wuhan,from Wuhan,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
count,1085.000000,888.000000,0.0,843.000000,560.000000,1085.000000,1081.000000,0.0,0.0,0.0,0.0,0.0,0.0
mean,543.000000,48.841216,NaN,49.483689,0.042857,0.176959,0.144311,NaN,NaN,NaN,NaN,NaN,NaN
std,313.356825,78.853528,NaN,18.255334,0.202716,0.381810,0.351567,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,1.000000,NaN,0.250000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,272.000000,11.000000,NaN,35.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,543.000000,28.000000,NaN,51.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,814.000000,67.250000,NaN,64.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,1085.000000,1443.000000,NaN,96.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
line_df.head(1)

,id,case_in_country,reporting date,Unnamed: 3,summary,location,country,gender,age,symptom_onset,...,recovered,symptom,source,link,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,1,NaN,1/20/2020,NaN,First confirmed imported COVID-19 pneumonia pa...,"Shenzhen, Guangdong",China,male,66.0,01/03/20,...,0,NaN,Shenzhen Municipal Health Commission,http://wjw.sz.gov.cn/wzx/202001/t20200120_1898...,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
line_df.groupby('country').count().sort_values(by = 'id',ascending = 0)

,id,case_in_country,reporting date,summary,location,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source,link,gender_male
country,,,,,,,,,,,,,,,,,,
Mainland China,197,0,197,193,197,190,144,142,149,114,197,193,197,197,3,197,197,197
Japan,190,190,189,189,190,186,160,161,136,27,190,190,190,190,152,190,190,190
South Korea,114,114,114,114,114,92,18,18,9,17,114,114,114,114,13,114,114,114
Hong Kong,94,94,94,94,94,93,78,77,73,36,94,94,94,94,43,94,94,94
Singapore,93,93,93,93,93,90,78,78,76,34,93,93,93,93,6,93,93,93
Germany,54,54,54,54,54,14,8,8,4,10,54,54,54,54,2,54,54,54
Thailand,41,41,41,41,41,18,7,7,10,5,41,41,41,41,7,41,41,41
France,39,39,39,39,39,18,5,5,6,11,39,39,39,39,0,39,39,39
Spain,34,34,34,34,34,21,0,0,4,6,34,34,34,34,1,34,34,34
Taiwan,34,34,34,34,34,31,24,24,18,14,34,34,34,34,23,34,34,34
Malaysia,23,23,23,23,23,23,10,10,5,14,23,23,23,23,8,23,23,23
UAE,21,21,21,21,21,9,1,1,0,4,21,21,21,21,0,21,21,21
UK,20,20,20,20,20,1,0,0,0,6,20,20,20,20,0,20,20,20
US,18,18,18,18,18,6,7,7,4,10,18,18,18,18,1,18,18,18
Iran,18,18,18,18,18,0,0,0,0,0,18,18,18,18,0,18,18,18
Bahrain,17,17,17,17,17,0,0,0,0,0,17,17,17,17,0,17,17,17
Vietnam,16,16,16,16,16,10,5,5,1,5,16,16,16,16,5,16,16,16
Australia,15,15,15,15,15,15,9,9,5,8,15,15,15,15,0,15,15,15
Canada,12,12,12,12,12,12,2,2,3,4,12,12,12,12,1,12,12,12
Kuwait,9,9,9,9,9,0,0,0,0,0,9,9,9,9,0,9,9,9
Phillipines,3,3,3,3,3,3,1,1,1,3,3,3,3,3,1,3,3,3
India,3,3,3,3,3,0,0,0,0,1,3,3,3,3,0,3,3,3
Italy,3,3,3,3,3,1,0,0,0,1,3,3,3,3,0,3,3,3
Austria,2,2,2,2,2,2,0,0,0,0,2,2,2,2,0,2,2,2
Russia,2,2,2,2,2,0,0,0,0,0,2,2,2,2,0,2,2,2
Sweden,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
Sri Lanka,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Nepal,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1
Switzerland,1,1,1,1,1,1,1,0,0,1,1,1,1,1,0,1,1,1
Afghanistan,1,1,1,1,1,1,0,0,0,0,1,1,1,1,0,1,1,1
Algeria,1,1,1,1,1,0,0,0,0,1,1,1,1,1,0,1,1,1
Belgium,1,1,1,1,1,0,0,0,0,1,1,1,1,1,0,1,1,1
Lebanon,1,1,1,1,1,1,0,0,0,1,1,1,1,1,0,1,1,1
Cambodia,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
Croatia,1,1,1,1,1,0,0,0,0,1,1,1,1,1,0,1,1,1
Israel,1,1,1,1,1,0,0,0,0,1,1,1,1,1,0,1,1,1
Egypt,1,1,1,1,1,0,0,0,0,0,1,1,1,1,0,1,1,1
Finland,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Greece,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Brazil,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Turkey,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Czech Republic,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Denmark,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Ecuador,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Indonesia,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Mexico,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Ireland,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Romania,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Portugal,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Poland,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Peru,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Panama,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Norway,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Netherlands,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Morocco,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Luxemburg,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [17]:
line_df.isna().sum()

id                          0
case_in_country           197
reporting date              1
Unnamed: 3               1085
summary                     5
location                    0
country                     0
gender                    183
age                       242
symptom_onset             522
If_onset_approximated     525
hosp_visit_date           578
exposure_start            957
exposure_end              744
visiting Wuhan              0
from Wuhan                  4
death                       0
recovered                   0
symptom                   815
source                      0
link                        0
Unnamed: 21              1085
Unnamed: 22              1085
Unnamed: 23              1085
Unnamed: 24              1085
Unnamed: 25              1085
Unnamed: 26              1085
dtype: int64

In [18]:
line_df.dropna(axis = 1,thresh = 150,inplace = True)

In [19]:
line_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085 entries, 0 to 1084
Data columns (total 19 columns):
id                       1085 non-null int64
case_in_country          888 non-null float64
reporting date           1084 non-null object
summary                  1080 non-null object
location                 1085 non-null object
country                  1085 non-null object
gender                   902 non-null object
age                      843 non-null float64
symptom_onset            563 non-null object
If_onset_approximated    560 non-null float64
hosp_visit_date          507 non-null object
exposure_end             341 non-null object
visiting Wuhan           1085 non-null int64
from Wuhan               1081 non-null float64
death                    1085 non-null object
recovered                1085 non-null object
symptom                  270 non-null object
source                   1085 non-null object
link                     1085 non-null object
dtypes: float64(4), int64(2), object(13)
memory usage: 161.1+ KB

In [20]:
line_df.describe()

,id,case_in_country,age,If_onset_approximated,visiting Wuhan,from Wuhan
count,1085.000000,888.000000,843.000000,560.000000,1085.000000,1081.000000
mean,543.000000,48.841216,49.483689,0.042857,0.176959,0.144311
std,313.356825,78.853528,18.255334,0.202716,0.381810,0.351567
min,1.000000,1.000000,0.250000,0.000000,0.000000,0.000000
25%,272.000000,11.000000,35.000000,0.000000,0.000000,0.000000
50%,543.000000,28.000000,51.000000,0.000000,0.000000,0.000000
75%,814.000000,67.250000,64.000000,0.000000,0.000000,0.000000
max,1085.000000,1443.000000,96.000000,1.000000,1.000000,1.000000

In [21]:
line_df.head(2)

,id,case_in_country,reporting date,summary,location,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source,link
0,1,NaN,1/20/2020,First confirmed imported COVID-19 pneumonia pa...,"Shenzhen, Guangdong",China,male,66.0,01/03/20,0.0,01/11/20,01/04/20,1,0.0,0,0,NaN,Shenzhen Municipal Health Commission,http://wjw.sz.gov.cn/wzx/202001/t20200120_1898...
1,2,NaN,1/20/2020,First confirmed imported COVID-19 pneumonia pa...,Shanghai,China,female,56.0,1/15/2020,0.0,1/15/2020,01/12/20,0,1.0,0,0,NaN,Official Weibo of Shanghai Municipal Health Co...,https://www.weibo.com/2372649470/IqogQhgfa?fro...

In [22]:
line_df = pd.get_dummies(line_df,drop_first = True,columns = ['gender'])

In [23]:
line_df['country'].value_counts()

China          197
Japan          190
South Korea    114
Hong Kong       94
Singapore       93
Germany         54
Thailand        41
France          39
Spain           34
Taiwan          34
Malaysia        23
UAE             21
UK              20
USA             18
Iran            18
Bahrain         17
Vietnam         16
Australia       15
Canada          12
Kuwait           9
Italy            3
Phillipines      3
India            3
Austria          2
Russia           2
Afghanistan      1
Belgium          1
Cambodia         1
Nepal            1
Croatia          1
Finland          1
Lebanon          1
Algeria          1
Egypt            1
Sri Lanka        1
Israel           1
Sweden           1
Switzerland      1
Name: country, dtype: int64

In [24]:
top_c = list(line_df[line_df['country'].isin(top_countries_list)]['country'].value_counts().index)
replace_names = []
for country in top_countries_list:
    if country not in top_c:
        replace_names.append(country)
len(replace_names)

22

In [25]:
d_top_line_to_corona = {'No_data':['Netherlands','Turkey','Brazil','Portugal','Indonesia','Denmark','Ecuador','Romania','Ireland','Greece','Norway','Poland','Morocco','Czech Republic','Peru','Panama','Mexico','Luxemburg'],'China':'Mainland China','USA':'US','Phiipines':'Philippines'}

In [26]:
line_df

,id,case_in_country,reporting date,summary,location,country,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source,link,gender_male
0,1,NaN,1/20/2020,First confirmed imported COVID-19 pneumonia pa...,"Shenzhen, Guangdong",China,66.0,01/03/20,0.0,01/11/20,01/04/20,1,0.0,0,0,NaN,Shenzhen Municipal Health Commission,http://wjw.sz.gov.cn/wzx/202001/t20200120_1898...,1
1,2,NaN,1/20/2020,First confirmed imported COVID-19 pneumonia pa...,Shanghai,China,56.0,1/15/2020,0.0,1/15/2020,01/12/20,0,1.0,0,0,NaN,Official Weibo of Shanghai Municipal Health Co...,https://www.weibo.com/2372649470/IqogQhgfa?fro...,0
2,3,NaN,1/21/2020,First confirmed imported cases in Zhejiang: pa...,Zhejiang,China,46.0,01/04/20,0.0,1/17/2020,01/03/20,0,1.0,0,0,NaN,Health Commission of Zhejiang Province,http://www.zjwjw.gov.cn/art/2020/1/21/art_1202...,1
3,4,NaN,1/21/2020,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,60.0,NaN,NaN,1/19/2020,NaN,1,0.0,0,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?,0
4,5,NaN,1/21/2020,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,58.0,NaN,NaN,1/14/2020,NaN,0,0.0,0,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?,1
5,6,NaN,1/21/2020,First confirmed imported COVID-19 pneumonia pa...,Chongqing,China,44.0,1/15/2020,0.0,NaN,NaN,0,1.0,0,0,NaN,Chongqing Municipal Health Commission,http://wsjkw.cq.gov.cn/tzgg/20200121/249730.html,0
6,7,NaN,1/21/2020,First confirmed imported COVID-19 pneumonia pa...,Sichuan,China,34.0,01/11/20,0.0,NaN,NaN,0,1.0,0,0,NaN,央视新闻,https://m.weibo.cn/status/4463300522087848?,1
7,8,NaN,1/21/2020,new confirmed imported COVID-19 pneumonia pati...,Beijing,China,37.0,1/14/2020,0.0,1/20/2020,01/11/20,1,0.0,0,0,NaN,Beijing Municipal Health Commission,http://wjw.beijing.gov.cn/xwzx_20031/wnxw/2020...,1
8,9,NaN,1/21/2020,new confirmed imported COVID-19 pneumonia pati...,Beijing,China,39.0,01/09/20,0.0,1/14/2020,01/04/20,1,0.0,0,0,NaN,Beijing Municipal Health Commission,http://wjw.beijing.gov.cn/xwzx_20031/wnxw/2020...,1
9,10,NaN,1/21/2020,new confirmed imported COVID-19 pneumonia pati...,Beijing,China,56.0,1/16/2020,0.0,1/20/2020,1/16/2020,1,0.0,0,0,NaN,Beijing Municipal Health Commission,http://wjw.beijing.gov.cn/xwzx_20031/wnxw/2020...,1
10,11,NaN,1/21/2020,new confirmed imported COVID-19 pneumonia pati...,Beijing,China,18.0,1/19/2020,0.0,1/20/2020,1/17/2020,1,0.0,0,0,NaN,Beijing Municipal Health Commission,http://wjw.beijing.gov.cn/xwzx_20031/wnxw/2020...,0
11,12,NaN,1/21/2020,new confirmed imported COVID-19 pneumonia pati...,Beijing,China,32.0,01/15/2020,0.0,1/20/2020,1/17/2020,1,0.0,0,0,NaN,Beijing Municipal Health Commission,http://wjw.beijing.gov.cn/xwzx_20031/wnxw/2020...,0
12,13,NaN,1/21/2020,First confirmed imported COVID-19 pneumonia pa...,Shandong,China,37.0,NaN,NaN,1/17/2020,NaN,1,0.0,0,0,NaN,央视新闻,https://m.weibo.cn/status/4463323540564718?,1
13,14,NaN,1/21/2020,First confirmed imported COVID-19 pneumonia pa...,Yunnan,China,51.0,1/16/2020,0.0,NaN,1/15/2020,0,1.0,0,0,NaN,央视新闻,https://m.weibo.cn/status/4463321081961974?,1
14,15,NaN,1/22/2020,Second confirmed imported COVID-19 pneumonia p...,Sichuan,China,57.0,1/16/2020,0.0,NaN,1/15/2020,0,1.0,0,0,NaN,央视新闻,https://www.weibo.com/2656274875/IqzRU3150?fro...,1
15,16,NaN,1/22/2020,new confirmed imported COVID-19 pneumonia pati...,Jiangxi,China,56.0,01/10/20,0.0,NaN,01/09/20,1,0.0,0,0,NaN,央视新闻,https://www.weibo.com/2656274875/IqAcyp3Jr?fro...,1
16,17,NaN,1/22/2020,new confirmed imported COVID-19 pneumonia pati...,Jiangxi,China,50.0,01/10/20,0.0,NaN,01/02/20,1,0.0,0,0,NaN,央视新闻,https://www.weibo.com/2656274875/IqAcyp3Jr?fro...,1
17,18,NaN,1/22/2020,First confirmed imported COVID-19 pneumonia pa...,Macau,China,52.0,1/14/2020,0.0,1/22/2020,NaN,0,1.0,0,0,NaN,央视新闻,https://www.weibo.com/2656274875/IqDIS0pET?fro...,0
18,19,NaN,1/22/2020,First confirmed imported COVID-19 pneumonia pa...,Liaoning,China,33.0,01/11/20,0.0,1/17/2020,NaN,1,0.0,0,0,NaN,央视新闻,https://www.weibo.com/2656274875/IqFFYc2Gv?fro...,1
19,20,NaN,1/22/2020,Second confirmed imported COVID-19 pneumonia p...,Liaoning,China,40.0,1/14/2020,0.0,1/19/2020,01/12/20,1,0.0,0,0,NaN,央视新闻,https://www.weibo.com/2656274875/IqFFYc2Gv?fro...,1
20,21,NaN,1/22/2020,First confirmed imported COVID-19 pneumonia pa...,Fujian,China,70.0,NaN,NaN,1/20/2020,1/17/2020,1,0.0,0,0,NaN,人民日报,https://www.weibo.com/2803301701/IqGpc5njk?fro...,1
21,22,NaN,1/22/2020,First confirmed imported COVID-19 pneumonia pa...,Guizhou,China,51.0,1/14/2020,0.0,1/14/2020,NaN,0,1.0,0,0,NaN,人民日报,https://www.weibo.com/2803301701/IqGtrCQPF?fro...,1
22,23,NaN,1/22/2020,First confirmed imported COVID-19 pneumonia pa...,Shanxi,China,NaN,1/19/2020,0.0,1/20/2020,1/15/2020,1,0.0,0,0,NaN,央视新闻,https://www.weibo.com/2656274875/IqGCB0OTO?fro...,1
23,24,NaN,1/22/2020,new confirmed imported COVID-19 pneumonia pati...,Sichuan,China,28.0,1/19/2020,0.0,NaN,1/17/2020,1,0.0,0,0,NaN,央视新闻,https://www.weibo.com/2656274875/IqGDxbyp4?fro...,0
24,25,NaN,1/22/2020,new confirmed imported COVID-19 pneumonia pati...,Sichuan,China,37.0,1/20/2020,0.0,NaN,1/18/2020,1,0.0,0,0,NaN,央视新闻,https://www.weibo.com/2656274875/IqGDxbyp4?fro...,1
25,26,NaN,1/22/2020,new confirmed imported COVID-19 pneumonia pati...,Sichuan,China,19.0,1/20/2020,0.0,NaN,1/13/2020,1,0.0,0,0,NaN,央视新闻,https://www.weibo.com/2656274875/IqGDxbyp4?fro...,1
26,27,NaN,1/22/2020,First confirmed imported COVID-19 pneumonia pa...,Ningxia,China,29.0,NaN,NaN,1/19/2020,NaN,1,0.0,0,0,NaN,央视新闻,https://www.weibo.com/2656274875/IqGRMsgUh?fro...,1
27,28,NaN,1/22/2020,First confirmed imported COVID-19 pneumonia pa...,Guangxi,China,66.0,1/17/2020,0.0,1/17/2020,1/16/2020,0,1.0,0,0,NaN,央视新闻,https://www.weibo.com/2803301701/IqGTwh0C1?fro...,0
28,29,NaN,1/22/2020,Second confirmed imported COVID-19 pneumonia p...,Guangxi,China,46.0,1/20/2020,0.0,NaN,NaN,0,0.0,0,0,NaN,央视新闻,https://www.weibo.com/2803301701/IqGTwh0C1?fro...,1
29,30,NaN,1/22/2020,new confirmed imported COVID-19 pneumonia pati...,Henan,China,32.0,NaN,NaN,NaN,1/18/2020,0,1.0,0,0,NaN,央视新闻,https://www.weibo.com/2803301701/IqGV4lCay?fro...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1055,1056,3.0,2/24/2020,new confirmed COVID-19 patient in Kuwait: retu...,Kuwait,Kuwait,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Al Arabiya,http://english.alarabiya.net/en/News/gulf/2020...,0
1056,1057,4.0,2/24/2020,new confirmed COVID-19 patient in Kuwait: retu...,Kuwait,Kuwait,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Al Arabiya,http://english.alarabiya.net/en/News/gulf/2020...,0
1057,1058,5.0,2/24/2020,new confirmed COVID-19 patient in Kuwait: retu...,Kuwait,Kuwait,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Al Arabiya,http://english.alarabiya.net/en/News/gulf/2020...,0
1058,1059,6.0,2/25/2020,new confirmed COVID-19 patient in Kuwait: retu...,Kuwait,Kuwait,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Al Arabiya,http://english.alarabiya.net/en/News/gulf/2020...,0
1059,1060,7.0,2/25/2020,new confirmed COVID-19 patient in Kuwait: retu...,Kuwait,Kuwait,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Al Arabiya,http://english.alarabiya.net/en/News/gulf/2020...,0
1060,1061,8.0,2/25/2020,new confirmed COVID-19 patient in Kuwait: retu...,Kuwait,Kuwait,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Al Arabiya,http://english.alarabiya.net/en/News/gulf/2020...,0
1061,1062,9.0,2/25/2020,new confirmed COVID-19 patient in Kuwait: fema...,Kuwait,Kuwait,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Al Arabiya,http://english.alarabiya.net/en/News/gulf/2020...,0
1062,1063,1.0,2/24/2020,new COVID-19 patient confirmed in Bahrain: ret...,Bahrain,Bahrain,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Gulf News,https://gulfnews.com/world/gulf/bahrain/bahrai...,0
1063,1064,2.0,2/24/2020,new COVID-19 patient confirmed in Bahrain:,Bahrain,Bahrain,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Gulf News,https://gulfnews.com/world/gulf/bahrain/bahrai...,0
1064,1065,3.0,2/25/2020,new COVID-19 patient confirmed in Bahrain: mal...,Bahrain,Bahrain,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Gulf News,https://gulfnews.com/world/gulf/bahrain/bahrai...,1
1065,1066,4.0,2/25/2020,new COVID-19 patient confirmed in Bahrain: fem...,Bahrain,Bahrain,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Gulf News,https://gulfnews.com/world/gulf/bahrain/bahrai...,0
1066,1067,5.0,2/25/2020,new COVID-19 patient confirmed in Bahrain: fem...,Bahrain,Bahrain,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Gulf News,https://gulfnews.com/world/gulf/bahrain/bahrai...,0
1067,1068,6.0,2/25/2020,new COVID-19 patient confirmed in Bahrain: fem...,Bahrain,Bahrain,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Gulf News,https://gulfnews.com/world/gulf/bahrain/bahrai...,0
1068,1069,7.0,2/25/2020,new COVID-19 patient confirmed in Bahrain: fem...,Bahrain,Bahrain,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Gulf News,https://gulfnews.com/world/gulf/bahrain/bahrai...,0
1069,1070,8.0,2/25/2020,new COVID-19 patient confirmed in Bahrain: fem...,Bahrain,Bahrain,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Gulf News,https://gulfnews.com/world/gulf/bahrain/bahrai...,0
1070,1071,9.0,2/25/2020,new COVID-19 patient confirmed in Bahrain: fem...,Bahrain,Bahrain,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Gulf News,https://gulfnews.com/world/gulf/bahrain/bahrai...,0
1071,1072,10.0,2/25/2020,new COVID-19 patient confirmed in Bahrain: fem...,Bahrain,Bahrain,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Gulf News,https://gulfnews.com/world/gulf/bahrain/bahrai...,0
1072,1073,11.0,2/25/2020,new COVID-19 patient confirmed in Bahrain: fem...,Bahrain,Bahrain,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Gulf News,https://gulfnews.com/world/gulf/bahrain/bahrai...,0
1073,1074,12.0,2/25/2020,new COVID-19 patient confirmed in Bahrain: fem...,Bahrain,Bahrain,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Gulf News,https://gulfnews.com/world/gulf/bahrain/bahrai...,0
1074,1075,13.0,2/25/2020,new COVID-19 patient confirmed in Bahrain: mal...,Bahrain,Bahrain,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Gulf News,https://gulfnews.com/world/gulf/bahrain/bahrai...,1
1075,1076,14.0,2/25/2020,new COVID-19 patient confirmed in Bahrain: mal...,Bahrain,Bahrain,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Gulf News,https://gulfnews.com/world/gulf/bahrain/bahrai...,1
1076,1077,15.0,2/25/2020,new COVID-19 patient confirmed in Bahrain: mal...,Bahrain,Bahrain,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Gulf News,https://gulfnews.com/world/gulf/bahrain/bahrai...,1
1077,1078,16.0,2/25/2020,new COVID-19 patient confirmed in Bahrain: fem...,Bahrain,Bahrain,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Gulf News,https://gulfnews.com/world/gulf/bahrain/bahrai...,0
1078,1079,17.0,2/25/2020,new COVID-19 patient confirmed in Bahrain: fem...,Bahrain,Bahrain,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Gulf News,https://gulfnews.com/world/gulf/bahrain/bahrai...,0
1079,1080,1.0,2/25/2020,"new COVID-19 patient confirmed in Austria: 24,...",Innsbruck,Austria,24.0,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Jakarta Post,https://www.thejakartapost.com/news/2020/02/25...,0
1080,1081,2.0,2/25/2020,"new COVID-19 patient confirmed in Austria: 24,...",Innsbruck,Austria,24.0,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Jakarta Post,https://www.thejakartapost.com/news/2020/02/25...,0
1081,1082,1.0,2/24/2020,new COVID-19 patient confirmed in Afghanistan:...,Afghanistan,Afghanistan,35.0,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Fox News,https://www.foxnews.com/health/afghanistan-fir...,0
1082,1083,1.0,2/26/2020,new COVID-19 patient confirmed in Algeria: mal...,Algeria,Algeria,NaN,NaN,NaN,NaN,2/17/2020,0,0.0,0,0,NaN,South China Morning Post,https://www.scmp.com/news/china/society/articl...,1
1083,1084,1.0,2/25/2020,new COVID-19 patient confirmed in Croatia: mal...,Croatia,Croatia,NaN,NaN,NaN,NaN,2/21/2020,0,0.0,0,0,NaN,Reuters,https://www.reuters.com/article/us-croatia-cor...,1
1084,1085,1.0,2/25/2020,new COVID-19 patient confirmed in Switzerland:...,Bern,Switzerland,70.0,2/17/2020,NaN,NaN,2/15/2020,0,0.0,0,0,NaN,Reuters,https://www.reuters.com/article/uk-switzerland...,1

In [27]:
for k,v in d_top_line_to_corona.items():
    if k == 'No_data':
        for country in v:
            line_df = line_df.append(pd.DataFrame(data = [[np.nan,np.nan,np.nan,np.nan,np.nan,country,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan]],columns = line_df.columns))
    elif k != 'No_data':
        line_df['country'] = line_df['country'].apply(lambda country: v if country == k else country)

In [28]:
line_df[line_df['country'] == 'Netherlands']

,id,case_in_country,reporting date,summary,location,country,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source,link,gender_male
0,NaN,NaN,NaN,NaN,NaN,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
line_df.groupby('country').mean()

,id,case_in_country,age,If_onset_approximated,visiting Wuhan,from Wuhan,gender_male
country,,,,,,,
Afghanistan,1082.0,1.000000,35.000000,NaN,0.000000,0.000000,0.000000
Algeria,1083.0,1.000000,NaN,NaN,0.000000,0.000000,1.000000
Australia,774.0,8.000000,42.000000,0.111111,0.400000,0.533333,0.600000
Austria,1080.5,1.500000,24.000000,NaN,0.000000,0.000000,0.000000
Bahrain,1071.0,9.000000,NaN,NaN,0.000000,0.000000,0.235294
Belgium,1032.0,1.000000,NaN,NaN,1.000000,0.000000,0.000000
Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cambodia,794.0,1.000000,60.000000,0.000000,0.000000,1.000000,1.000000
Canada,787.5,6.500000,42.583333,0.500000,0.416667,0.166667,0.333333
Croatia,1084.0,1.000000,NaN,NaN,0.000000,0.000000,1.000000
Czech Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ecuador,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Egypt,1033.0,1.000000,NaN,NaN,0.000000,0.000000,0.000000
Finland,996.0,1.000000,32.000000,0.000000,0.000000,1.000000,0.000000
France,217.0,20.000000,46.611111,0.200000,0.051282,0.076923,0.333333
Germany,822.5,27.500000,40.214286,0.000000,0.037037,0.000000,0.388889
Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hong Kong,917.5,47.170213,56.075269,0.038961,0.053191,0.063830,0.500000
India,991.0,2.000000,NaN,NaN,1.000000,0.000000,0.000000
Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Iran,1042.5,9.500000,NaN,NaN,0.000000,0.000000,0.000000
Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Israel,1052.0,1.000000,NaN,NaN,0.000000,0.000000,0.000000
Italy,966.0,2.000000,35.000000,NaN,1.000000,0.000000,0.666667
Japan,331.5,95.500000,55.462366,0.000000,0.063158,0.063158,0.636842
Kuwait,1058.0,5.000000,NaN,NaN,0.000000,0.000000,0.000000
Lebanon,1053.0,1.000000,45.000000,NaN,0.000000,0.000000,0.000000
Luxemburg,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mainland China,99.0,NaN,49.000000,0.000000,0.431472,0.424870,0.629442
Malaysia,438.0,12.000000,41.304348,0.300000,0.086957,0.260870,0.434783
Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Morocco,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nepal,450.0,1.000000,32.000000,0.000000,0.000000,1.000000,1.000000
Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Panama,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Peru,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Phillipines,994.0,2.000000,47.333333,1.000000,0.333333,0.666667,0.333333
Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Russia,968.5,1.500000,NaN,NaN,1.000000,0.000000,0.500000
Singapore,497.0,47.000000,43.516667,0.000000,0.139785,0.107527,0.580645
South Korea,600.5,91.903509,47.641304,0.055556,0.078947,0.017544,0.377193
Spain,1013.5,17.500000,43.809524,NaN,0.000000,0.000000,0.529412
Sri Lanka,795.0,1.000000,40.000000,0.000000,0.000000,1.000000,0.000000
Sweden,1031.0,1.000000,25.000000,1.000000,1.000000,0.000000,0.000000
Switzerland,1085.0,1.000000,70.000000,NaN,0.000000,0.000000,1.000000
Taiwan,674.5,17.500000,51.935484,0.166667,0.235294,0.088235,0.470588
Thailand,712.0,21.000000,48.166667,0.714286,0.243902,0.243902,0.195122
Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UAE,860.0,11.000000,44.666667,0.000000,0.047619,0.190476,0.190476
UK,979.5,10.500000,53.000000,NaN,0.100000,0.000000,0.250000
US,741.5,9.500000,50.000000,0.428571,0.611111,0.055556,0.333333
Vietnam,758.5,8.500000,36.525000,0.000000,0.500000,0.062500,0.250000

In [30]:
top_c = list(line_df[line_df['country'].isin(top_countries_list)]['country'].value_counts().index)
replace_names_check_2 = []
for country in top_countries_list:
    if country not in top_c:
        replace_names.append(country)
replace_names_check_2

[]

In [31]:
line_df['country'] = line_df['country'].apply(lambda country: 'Mainland China' if country == 'China' else country)
line_df['country'] = line_df['country'].apply(lambda country: 'US' if country == 'USA' else country)

In [32]:
line_df.head()

,id,case_in_country,reporting date,summary,location,country,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source,link,gender_male
0,1.0,NaN,1/20/2020,First confirmed imported COVID-19 pneumonia pa...,"Shenzhen, Guangdong",Mainland China,66.0,01/03/20,0.0,01/11/20,01/04/20,1.0,0.0,0,0,NaN,Shenzhen Municipal Health Commission,http://wjw.sz.gov.cn/wzx/202001/t20200120_1898...,1.0
1,2.0,NaN,1/20/2020,First confirmed imported COVID-19 pneumonia pa...,Shanghai,Mainland China,56.0,1/15/2020,0.0,1/15/2020,01/12/20,0.0,1.0,0,0,NaN,Official Weibo of Shanghai Municipal Health Co...,https://www.weibo.com/2372649470/IqogQhgfa?fro...,0.0
2,3.0,NaN,1/21/2020,First confirmed imported cases in Zhejiang: pa...,Zhejiang,Mainland China,46.0,01/04/20,0.0,1/17/2020,01/03/20,0.0,1.0,0,0,NaN,Health Commission of Zhejiang Province,http://www.zjwjw.gov.cn/art/2020/1/21/art_1202...,1.0
3,4.0,NaN,1/21/2020,new confirmed imported COVID-19 pneumonia in T...,Tianjin,Mainland China,60.0,NaN,NaN,1/19/2020,NaN,1.0,0.0,0,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?,0.0
4,5.0,NaN,1/21/2020,new confirmed imported COVID-19 pneumonia in T...,Tianjin,Mainland China,58.0,NaN,NaN,1/14/2020,NaN,0.0,0.0,0,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?,1.0

In [33]:
line_df[line_df['country'].isin(top_countries_list)]['country'].value_counts().count()

34

In [34]:
len(top_countries_list)

40

In [35]:
list_check = []
for c in list(top_countries_list):
    if c not in line_df[line_df['country'].isin(top_countries_list)]['country'].value_counts().index:
        list_check.append(c)

In [36]:
list_check

['Philippines',
 'Dominican Republic',
 'Hungary',
 'Pakistan',
 'Colombia',
 'Ukraine']

In [36]:
top_line_df = line_df[line_df['country'].isin(top_countries)].groupby('country').mean().reset_index()

In [53]:
top_line_df

,country,id,case_in_country,age,If_onset_approximated,visiting Wuhan,from Wuhan
0,Belgium,1032.0,1.0,NaN,NaN,1.000000,0.000000
1,France,217.0,20.0,46.611111,0.200000,0.051282,0.076923
2,Germany,822.5,27.5,40.214286,0.000000,0.037037,0.000000
3,Iran,1042.5,9.5,NaN,NaN,0.000000,0.000000
4,Italy,966.0,2.0,35.000000,NaN,1.000000,0.000000
5,Mainland China,99.0,NaN,49.000000,0.000000,0.431472,0.424870
6,Spain,1013.5,17.5,43.809524,NaN,0.000000,0.000000
7,UK,979.5,10.5,53.000000,NaN,0.100000,0.000000
8,US,741.5,9.5,50.000000,0.428571,0.611111,0.055556

In [54]:
neth = pd.DataFrame(data = [['Netherlands',np.nan,np.nan,np.nan,np.nan,np.nan,np.nan]],columns = top_line_df.columns)

In [56]:
top_line_df = top_line_df.append(neth)

In [60]:
top_line_df.reset_index(inplace= True)

In [62]:
top_line_df

,index,country,id,case_in_country,age,If_onset_approximated,visiting Wuhan,from Wuhan
0,0,Belgium,1032.0,1.0,NaN,NaN,1.000000,0.000000
1,1,France,217.0,20.0,46.611111,0.200000,0.051282,0.076923
2,2,Germany,822.5,27.5,40.214286,0.000000,0.037037,0.000000
3,3,Iran,1042.5,9.5,NaN,NaN,0.000000,0.000000
4,4,Italy,966.0,2.0,35.000000,NaN,1.000000,0.000000
5,5,Mainland China,99.0,NaN,49.000000,0.000000,0.431472,0.424870
6,6,Spain,1013.5,17.5,43.809524,NaN,0.000000,0.000000
7,7,UK,979.5,10.5,53.000000,NaN,0.100000,0.000000
8,8,US,741.5,9.5,50.000000,0.428571,0.611111,0.055556
9,0,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
final_df

   Country/Region ObservationDate     SNo  Confirmed   Deaths  Recovered
0         Belgium      04/01/2020   10687    13964.0    828.0     2132.0
1          France      04/01/2020  108981    57749.0   4043.0    11053.0
2         Germany      04/01/2020   10733    77872.0    920.0    18700.0
3            Iran      04/01/2020   10748    47593.0   3036.0    15473.0
4           Italy      04/01/2020   10752   110574.0  13155.0    16847.0
5  Mainland China      04/01/2020  338397    81555.0   3312.0    76248.0
6     Netherlands      04/01/2020   43469    13696.0   1175.0      260.0
7           Spain      04/01/2020   10822   104118.0   9387.0    22647.0
8              UK      04/01/2020  108802    29865.0   2357.0      179.0
9              US      04/01/2020  633278   213372.0   4757.0     8474.0

In [75]:
top_line_df.rename(mapper={'country':'Country/Region'},axis = 1,inplace = True)

In [69]:
top_line_df.drop('index',axis = 1,inplace = True)

In [76]:
top_line_df

,Country/Region,id,case_in_country,age,If_onset_approximated,visiting Wuhan,from Wuhan
0,Belgium,1032.0,1.0,NaN,NaN,1.000000,0.000000
1,France,217.0,20.0,46.611111,0.200000,0.051282,0.076923
2,Germany,822.5,27.5,40.214286,0.000000,0.037037,0.000000
3,Iran,1042.5,9.5,NaN,NaN,0.000000,0.000000
4,Italy,966.0,2.0,35.000000,NaN,1.000000,0.000000
5,Mainland China,99.0,NaN,49.000000,0.000000,0.431472,0.424870
6,Spain,1013.5,17.5,43.809524,NaN,0.000000,0.000000
7,UK,979.5,10.5,53.000000,NaN,0.100000,0.000000
8,US,741.5,9.5,50.000000,0.428571,0.611111,0.055556
9,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
final_df_check = final_df.merge(right = top_line_df,how = 'left',left_on= final_df['Country/Region'],right_on = top_line_df['Country/Region'])

In [78]:
final_df_check

,key_0,Country/Region_x,ObservationDate,SNo,Confirmed,Deaths,Recovered,Country/Region_y,id,case_in_country,age,If_onset_approximated,visiting Wuhan,from Wuhan
0,Belgium,Belgium,04/01/2020,10687,13964.0,828.0,2132.0,Belgium,1032.0,1.0,NaN,NaN,1.000000,0.000000
1,France,France,04/01/2020,108981,57749.0,4043.0,11053.0,France,217.0,20.0,46.611111,0.200000,0.051282,0.076923
2,Germany,Germany,04/01/2020,10733,77872.0,920.0,18700.0,Germany,822.5,27.5,40.214286,0.000000,0.037037,0.000000
3,Iran,Iran,04/01/2020,10748,47593.0,3036.0,15473.0,Iran,1042.5,9.5,NaN,NaN,0.000000,0.000000
4,Italy,Italy,04/01/2020,10752,110574.0,13155.0,16847.0,Italy,966.0,2.0,35.000000,NaN,1.000000,0.000000
5,Mainland China,Mainland China,04/01/2020,338397,81555.0,3312.0,76248.0,Mainland China,99.0,NaN,49.000000,0.000000,0.431472,0.424870
6,Netherlands,Netherlands,04/01/2020,43469,13696.0,1175.0,260.0,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN
7,Spain,Spain,04/01/2020,10822,104118.0,9387.0,22647.0,Spain,1013.5,17.5,43.809524,NaN,0.000000,0.000000
8,UK,UK,04/01/2020,108802,29865.0,2357.0,179.0,UK,979.5,10.5,53.000000,NaN,0.100000,0.000000
9,US,US,04/01/2020,633278,213372.0,4757.0,8474.0,US,741.5,9.5,50.000000,0.428571,0.611111,0.055556

In [129]:
final_df_check.drop(['key_0','Country/Region_y'],axis = 1,inplace = True)